{% extends 'base.html.twig' %}

{% block title %}Troubleshooting{% endblock %}

{% block body %}
<div class="container py-5 text-center">

  <h2 class="mb-4 fw-bold">What Issue Is Your Client Experiencing?</h2>
  <p class="text-muted mb-5">Select the correct product below & start troubleshooting </p>

  <div class="d-flex flex-wrap justify-content-center gap-3">
    <a href="{{ path('app_troubleshooting_airmobile') }}"class="btn btn-outline-danger px-4 py-2">AirMobile</a>
    <a href="{{ path('app_troubleshooting_wireless') }}" class="btn btn-outline-danger px-4 py-2">Wireless</a>
    <a href="{{ path('app_troubleshooting_dsl') }}" class="btn btn-outline-danger px-4 py-2">DSL</a>
    <a href="{{ path('app_troubleshooting_fibre_orders') }}" class="btn btn-outline-danger px-4 py-2">Fibre (Orders)</a>
    <a href="{{ path('app_troubleshooting_fibre_technical') }}" class="btn btn-outline-danger px-4 py-2">Fibre (Technical)</a>
    <a href="{{ path('app_troubleshooting_voip') }}" class="btn btn-outline-danger px-4 py-2">VoIP</a>
    <a href="{{ path('app_troubleshooting_hosting') }}" class="btn btn-outline-danger px-4 py-2">Hosting</a>
    <a href="{{ path('app_troubleshooting_accounts') }}" class="btn btn-outline-danger px-4 py-2">Accounts</a>

  </div>

</div>

<script>
function showStep(step) {
  document.getElementById('step1').classList.add('d-none');
  document.getElementById(step).classList.remove('d-none');
}

function restartFlow() {
  document.querySelectorAll('#insufficient, #expired').forEach(el => el.classList.add('d-none'));
  document.getElementById('step1').classList.remove('d-none');
}
</script>


{% endblock %}
